<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
   
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
   
    <title>React Starter App</title>
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Akronim|Amatic+SC|BioRhyme+Expanded|Just+Another+Hand" rel="stylesheet">
    <!-- font awesom -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- *********************Pulling in React Materialize ********************* -->

     <!-- Import Google Icon Font -->
     <link
     href="https://fonts.googleapis.com/icon?family=Material+Icons"
     rel="stylesheet"
 />
 <!-- Import materialize.css -->
 <link
     href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"
     rel="stylesheet"
 />

 <!-- Import jQuery before materialize.js -->
 <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

<!-- ***************************************************************************************************************** -->
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
   
  </body>
  <script type="text/javascript">

    $(document).ready(function(){
  $('.carousel').carousel();
     });
</script>
  <!-- this connects the front end to the back end -->
  <script src="bundle.js"></script>
</html>
