.App {
  text-align: center;
}



/* .App-header {
  background-color: #4b546b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.button-col {
  width:100px;
  text-align:center;
}
.desc-col {
width:300px;
text-align:left;
}
table {
  counter-reset: tableCount;
}
.counterCell:before {
  content: counter(tableCount);
  counter-increment: tableCount;
}
.counterCell {
text-align: center;
width:50px;
}
.button-center {
text-align: center;
}
.Modal {
 position: relative;
 top: 250px;
 left: 400px;
 right: 20px;
 bottom: 20px;
 background-color: #F5F5F5;
 width:500px;
 border: 1px solid #000;
 border-radius: 4px;
 padding: 20px;
}
.Overlay {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: rebeccapurple;
}
.button-center {
text-align: center;
}
label{
display:inline-block;
width:200px;
margin-right:30px;
text-align:right;
}
fieldset{
border:none;
margin:0px auto;
}
.closebtn{
 float:right;
}
.pageTabs{
  height: 100%
}
.sidenav-trigger{
  display: none
}
.projectCards{
  height: 200px;
 }
.allCards{
  border: 2px;
  border-style: outset;
  border-color: rgb(63, 15, 63);
  font-family: 'Maven Pro', sans-serif;
}
.card-content{
  color: black
}
.logo{
  height: 200px
}
img{
  height: 100%;
  width: 300px
}
.navCSS{
  background-color: white !important
}
.tab-demo{
  background-color:rgb(63, 15, 63);
  color: whitesmoke
}
a{
  color: whitesmoke !important
}
.pageTabs{
  color: rgb(63, 15, 63);
  /* font-family: 'Just Another Hand', cursive; */
/* font-family: 'Amatic SC', cursive; */
font-family: 'Maven Pro', sans-serif!important;
}
.page-title{
color: rgb(63, 15, 63);
font-family: 'Akronim', cursive;

/* font-family: 'Just Another Hand', cursive; */
/* font-family: 'BioRhyme Expanded', serif; */
/* font-family: 'Amatic SC', cursive; */

}
.nav-wrapper{
  height: 200px !important
}
/* footer */
.page-footer{
  background-color:rgb(63, 15, 63)!important;
  color: whitesmoke !important;
  font-family: 'Akronim', cursive;
  font-size: 20px
}
.quote{
  width: 100%
}
.page-icons-facebook{
  color: rgb(0,119,181) !important
}
.page-icons-linkedin{
  color: black !important
}
.skill-list{
  background:rgb(63, 15, 63)!important;
  color: whitesmoke;
  width:130px
}
.skill-list:hover{
  background:rgb(153, 39, 153)!important;
  color: whitesmoke;
  width:200px
}
.card-action{
  background-color: rgb(63, 15, 63)!important;
  color: whitesmoke
}
/* about me section */
.survey{
  /* background-color: rgb(63, 15, 63)!important; */
  color: rgb(63, 15, 63)!important;
  background-color: whitesmoke!important;
}
/* contact section */
.invite{
  font-family: 'Amatic SC', cursive;

  /* font-family: 'Maven Pro', sans-serif!important; */
}
/* mobile adjustments */
@media screen and (max-width:500px){
.logo{
  height: 50px
}
}